@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    background-color: hsl(220, 100%, 97%);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: hsl(220, 24%, 12%);
    font-weight: 600;
}

.tab {
    cursor: pointer;
    padding: 10px;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.tab-content {
    margin-left: 50px;
    margin-right: 50px;
    color: black;
}

.logos {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: hsl(220, 24%, 12%);
}

.logo {
    cursor: pointer;
    padding: 10px;
    color: black;
    padding-right: 100px;
}
