@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"); /* Pour utiliser des polices de Google */

[data-tab-content] { /* Cache les autres pages */
    display: none;
}

.active[data-tab-content] { /* Montre seulement la page voulue */
    display: block;
}

body { /* format du corps du site */
    padding: 0;
    margin: 0;
    background-color: hsl(220, 100%, 97%);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: justify;
}

.tabs { /* format du menu */
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: hsl(220, 24%, 12%);
    font-weight: 600;
}

.tab { /* format d'une cellule du menu */
    cursor: pointer;
    padding: 10px;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.tab-content { /* format du contenu du menu */
    margin-left: 70px;
    margin-right: 70px;
    color: black;
}

.logo { /* format de la cellule contenant le logo LIPPS */
    cursor: pointer;
    padding: 10px;
    color: black;
    padding-right: 100px;
}
